/* main style */

/* front style */

.front,
.choice {
  min-height: 100vh;
  color: var(--white);
  position: relative;
  margin: 0 0 70px 0;
}

.front .container,
.choice .container {
  height: 100%;
  min-height: inherit;
  padding-bottom: 0;
}

.front .two-column-wrapper,
.choice .two-column-wrapper {
  height: 100%;
  min-height: inherit;
}

.front h1,
.choice h1 {
  font-size: 2.4rem;
}

.front p,
.choice p {
  color: var(--grey-text);
}

.front__image-block .image-container,
.choice__image-block .image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.front__image-block img,
.choice__image-block img {
  -o-object-position: 65%;
     object-position: 65%;
  scale: 1.12;
}

.front__decor,
.choice__decor {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.front__decor .dark-background,
.choice__decor .dark-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: var(--black);
}

.front__text-block {
  padding: 65px 0 50px;
}

/* end front style */

/* bicycles style */

.slider {
  width: 100%;
  min-width: 0;
  padding: 0 0 50px !important;
  margin: 50px 0 0;
}

.slider .swiper-pagination {
  bottom: 0;
}

.slider .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--yellow-button);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.slider .swiper-pagination-bullet-active {
  background-color: var(--yellow-hover-button);
}

.slider__items {
  width: 100%;
}

.slider__items .item__image {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.slider__items .item__image img {
  -o-object-position: 80%;
     object-position: 80%;
  -webkit-transition: scale 0.5s ease 0s;
  transition: scale 0.5s ease 0s;
}

.slider__items .item:hover img {
  scale: 1.05;
}

.slider__items .item__name,
.slider__items .item__model {
  margin: 10px 0 0;
}

.slider__items .item__name {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  padding: 0 0 0 12px;
}

.slider__items .item__name a {
  color: var(--black);
}

.slider__items .item__name::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: 8px;
  height: 5px;
  background-color: var(--yellow-button);
}

.slider__items .item__model {
  font-size: 0.6rem;
}

/* end bicycles style */

/* choice style */

.choice__decor .dark-background {
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.choice__text-block {
  padding: 70px 0;
}

.choice__characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  margin: 40px 0 0;
}

.choice__characteristics .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.choice__characteristics .item__image {
  width: 25px;
  height: 25px;
}

.choice__characteristics .item img {
  width: 100%;
  height: 100%;
}

.choice__characteristics .item svg {
  width: 100%;
  height: 100%;
}

.choice__characteristics .item svg use {
  width: inherit;
  height: inherit;
}

.choice__characteristics .item__title p {
  font-size: 0.9rem;
  color: var(--white);
}

.choice__characteristics .item__text p {
  font-size: 0.7rem;
}

/* end choice style */

/* partners style */

.partners__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1px;
  background-color: var(--grey-text);
  margin: 45px 0 0;
}

.partners__content .item {
  position: relative;
  max-height: 100px;
  padding: 35px;
  background-color: var(--white);
}

.partners__content .item__content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  max-height: inherit;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.partners__content .item__content img,
.partners__content .item__content svg {
  width: 100%;
  max-width: inherit;
  height: 100%;
  max-height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners__content .item__content svg use {
  width: inherit;
  height: inherit;
}

/* end partners style */

/* testimonial style */

.testimonial {
  background-color: var(--yellow-button);
  min-height: 70vh;
  padding: 50px 0;
  position: relative;
  margin-bottom: 0;
}

.testimonial .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.testimonial__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
}

.testimonial__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.testimonial__image img {
  width: 100%;
  height: 100%;
  scale: 1.12;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial__text {
  width: 80%;
}

.testimonial__text .text {
  font-weight: 700;
  font-family: var(--merriweather);
  font-style: italic;
  line-height: 1.4;
  margin: 0 0 20px;
  position: relative;
}

.testimonial__text .text::before {
  content: "";
  background-image: url("../../img/icons/icons.svg#testimonial--1");
  background-size: contain;
  position: absolute;
  top: -5px;
  left: -25px;
  width: 25px;
  height: 25px;
}

.testimonial__text .text::after {
  content: "";
  background-image: url("../../img/icons/icons.svg#testimonial--2");
  background-size: contain;
  position: absolute;
  bottom: -5px;
  right: -25px;
  width: 25px;
  height: 25px;
}

.testimonial__text .name {
  font-weight: 700;
  font-size: 0.7rem;
  font-family: var(--poppins);
  color: var(--yellow-active-button);
}

/* end testimonial style */

/* insurance style */

.insurance {
  background-color: var(--grey-button);
  color: var(--white);
}

.insurance .container {
  padding: 0 0 50px;
}

.insurance__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.insurance__content .item {
  background-color: var(--black);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.insurance__content .item .item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.insurance__content .item .name {
  text-transform: uppercase;
  font-weight: 500;
}

.insurance__content .item .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.insurance__content .item .payment {
  font-size: 0.5rem;
  color: var(--grey-text);
}

.insurance__content .item .item__body li {
  position: relative;
  font-size: 0.6rem;
  margin: 0 0 5px;
  padding: 0 0 0 15px;
}

.insurance__content .item .item__body li::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 10px;
  height: 10px;
  background: url("../../img/icons/icons.svg#insurance--1");
}

.insurance__content .item .item__button {
  margin: 10px 0 0;
}

.insurance__content .item .button {
  font-size: 14px;
}

.insurance__content .item_silver .name {
  color: var(--grey-text);
}

.insurance__content .item_gold .name {
  color: var(--yellow-button);
}

/* end insurance style */

/* end main style */

@media (max-width: 930px) {
  .front .two-column-wrapper {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto minmax(200px, auto);
    grid-template-rows: auto minmax(200px, auto);
  }

  .front__image-block img {
    -o-object-position: center;
       object-position: center;
  }

  .choice .two-column-wrapper {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto minmax(200px, auto);
    grid-template-rows: auto minmax(200px, auto);
  }

  .choice__image-block img {
    -o-object-position: center;
       object-position: center;
  }

  .choice__text-block {
    padding: 70px 0 0;
  }
}

@media (max-width: 790px) {
  .partners__content .item {
    padding: 25px;
    max-height: 80px;
  }
}

@media (max-width: 580px) {
  .testimonial .two-column-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .testimonial .empty {
    display: none;
  }

  .testimonial__decor {
    width: 100%;
    height: 100%;
  }

  .testimonial__decor img {
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
  }

  .testimonial__text {
    color: var(--testimonials-text);
    position: relative;
    z-index: 1;
    margin: 0 0 0 20px;
  }

  .testimonial__text .name {
    color: inherit;
  }
}

@media (max-width: 540px) {
  .partners__content {
    -ms-grid-columns: (minmax(100px, 1fr))[2];
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 530px) {
  .insurance__content .item .item__body li {
    font-size: 0.8rem;
  }
}

@media (max-width: 390px) {
  .partners__content .item {
    max-height: 65px;
    padding: 20px;
  }
}